<%- include("partials/header.ejs") %>
    <div class="row my-5 ">
        <div class="img-container d-flex flex-column d-lg-block justify-content-center align-items-center  col-lg-6">
            <img src="<%= movie.image %>">

        </div>
        <div class="details-container d-flex flex-column align-items-center d-lg-block col-lg-6">
            <h1 class="display-1">
                <%= movie.title %>
            </h1>
            <p class="lead">
                <%= movie.description %>
            </p>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Actors</th>
                        <td>
                            <%= movie.actors %>
                        </td>
                    </tr>
                    <tr>
                        <th>Producer</th>
                        <td>
                            <%= movie.producer %>
                        </td>
                    </tr>
                    <tr>
                        <th>Ratings</th>
                        <td>
                            <%= movie.rating %>
                        </td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>
                            <%= movie.date %>
                        </td>
                    </tr>
                    <tr>
                        <th>Genre</th>
                        <td>
                            <%= movie.genre %>
                        </td>
                    </tr>

                </tbody>
            </table>
            <% if(ownerId==userId){ %>
                <a href="/movie/<%= movie._id %>/edit" class="w-100">
                    <button class="btn btn-outline-primary w-100 my-2">Edit</button>
                </a>
                <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST" class="w-100">
                    <button class="btn btn-outline-danger w-100" type="submit">Delete</button>
                </form>
                <% } %>

        </div>
    </div>
    <div class="row">
        <!-- add comment btn -->
        <a href="/movie/<%= movie._id %>/comments/new" class="col-5 col-lg-3">
            <button class="btn btn-success btn-md mb-3">Add Comment</button>
        </a>
        <div class="col-4">
            <% if(user && movie.upvote.indexOf(user.username)>= 0){ %>
                <button id="upvote-btn" class="btn btn-success">+</button>
                <% } else if(user) { %>
                    <button id="upvote-btn" class="btn btn-outline-success">+</button>
                    <% } %>
                        <span id="score" class="mx-2">
                            <%= movie.upvote.length - movie.downvote.length%>
                        </span>
                        <% if(user && movie.downvote.indexOf(user.username)>= 0){ %>
                            <button id="downvote-btn" class="btn btn-danger">+</button>
                            <% } else if(user) { %>
                                <button id="downvote-btn" class="btn btn-outline-danger">+</button>
                                <% } %>

        </div>
    </div>
    <!-- comment section -->
    <div class="jumbotron mb-5">
        <div>
            <h3 class="text-muted">COMMENTS</h3>
        </div>

        <% comments.forEach(comment=> { %>
            <div class="row border">
                <div class=" col-3 my-auto">
                    <%= comment.user.username %>
                </div>
                <% if(user.id==comment.user.id){ %>
                    <div class=" col-4 my-auto d-flex flex-column align-items-center">
                        <a href="/movie/<%= movie._id %>/comments/<%= comment._id %>/edit"
                            class="btn btn-primary btn-sm mt-1">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form action="/movie/<%= movie._id %>/comments/<%= comment._id %>/delete?_method=DELETE"
                            method="POST">
                            <button type="submit" class=" btn btn-danger btn-sm my-1 del-btn">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                    <% } %>
                        <div class="col-5 my-auto">
                            <%= comment.text %>
                        </div>
            </div>
            <% }) %>
    </div>

    <script>
        const movieId = "<%= movie._id %>";
    </script>
    <script src="/js/movie_show.js"></script>
    <%- include("partials/footer.ejs") %>