<%- include("partials/header.ejs") %>
    <% if(movies.length !=0){ %>
        <h1 class="text-center">
            <%= movies[0].genre.slice(0,1).toUpperCase() + movies[0].genre.slice(1)%>
                <%= movies.length> 1? "Movies" : "Movie" %>
        </h1>
        <div class="d-flex flex-column align-items-center flex-lg-row justify-content-around flex-wrap pt-2 border-top">
            <% movies.forEach(movie=>{ %>
                <div class="box">
                    <a href=" /movie/<%= movie._id %>">
                        <img src="<%= movie.image %>" alt="">
                    </a>
                    <h3 class="box-title">
                        <%= movie.title %>
                    </h3>
                    <p class="box-description">
                        <%= movie.description %>
                    </p>
                </div>

                <% }) %>
        </div>
        <%} else{ %>
            <h1 class="my-5">SORRY! NO MOVIE HAS BEEN ADDED FOR THIS GENRE</h1>
            <%}%>
                <%- include("partials/footer.ejs") %>